<h1>Welcome to betterbooth.herokuapp.com, <%= @user.username %></h1>
  <p>
    You have successfully signed up to betterbooth.herokuapp.com,
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
