<ul style="font-family: 'Source Sans Pro',Calibri,Candara,Arial,sans-serif; font-weight: 300; list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333">
   <li style="float: left;">
      <a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="http://betterbooth.herokuapp.com">
         BetterBooth
      </a>
   </li>
   <li style="float: left;">
      <a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="http://betterbooth.herokuapp.com/about">
         About
      </a>
   </li>
   <li style="float: right;">
      <a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="http://betterbooth.herokuapp.com/users/sign_in">
         Sign-in
      </a>
   </li>
</ul>

<h1 style="font-family: 'Source Sans Pro',Calibri,Candara,Arial,sans-serif; font-weight: 300; color: #333333; font-size: 39px; margin-top: 20px; margin-bottom: 10.5px; line-height: 1.1;">
   Welcome to BetterBooth!
</h1>

<p style="font-family: 'Source Sans Pro',Calibri,Candara,Arial,sans-serif; font-weight: 300; color: #333333;">
   Thanks for signing up. As the name suggests, this site aims to provide better services to Booth students.<br>
   With <strong>BetterBooth</strong>, you now have a course seach tool that is:
   <ul style="font-family: 'Source Sans Pro',Calibri,Candara,Arial,sans-serif; font-weight: 300; color: #333333; border-left: 5px solid #2780E3; background-color: #f1f1f1; list-style-type: none; padding: 10px 20px;">
      <li style="margin-bottom: 15px;">
         <strong>Simple:</strong> Search classes and see ratings / bid history, all on the same page!
      </li>
      <li style="margin-bottom: 15px;">
         <strong>Insightful:</strong> See course-specific data in useful, graphical formats!
      </li>
      <li>
         <strong>Dynamic:</strong> Updates planned each quarter!
      </li>
   </ul>
</p>

<p style="font-family: 'Source Sans Pro',Calibri,Candara,Arial,sans-serif; font-weight: 300; color: #333333;">
   Thank you again for joining us. If you have ideas or feedback, please <strong><a href="mailto:betterboothgroup@gmail.com">email us</a></strong>!
</p>

<hr>
