<div id='footer'>
   <div class='container'>
      <div class='row'>
         <div class='col-md-offset-4 col-md-4 center'>
            <h4>BetterBooth</h4>
            <ul class="list-unstyled">
               <li>Made by <a href='mailto:betterboothgroup@gmail.com'>Phil Greene</a></li>
               <li><a href='/about'>About</a></li>
               <li><a href='/acknowledgements'>Acknowledgements</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
