<div class="row" id='about'>
   <div class="col-md-6">
      <h2>Acknowledgements</h2>
      <p>
         All data for this site was collected by Phil Greene and provided privately by the University of Chicago's Booth School of Business.
      </p>
      <p>
         Access to the contents of this site are reserved to individuals with a ChicagoBooth.edu email address.
      </p>
      <div>Icons made by <a href="https://www.flaticon.com/authors/maxim-basinski" title="Maxim Basinski">Maxim Basinski</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
   </div>
</div>
