<div class="row mb-3">
   <div class="col-md-6 pt-3">
      <div class="row welcome">
         <div class='col-md-3'>
            <%= image_tag 'dashboard', :class => 'img' %>
         </div>
         <div class="col-md-9">
            <h3>
               <strong>Simple</strong>
            </h3>
            <h4>
               Search classes and see ratings / bid history, all on the same page!
            </h4>
         </div>
      </div>

      <div class="row welcome">
         <div class="col-md-3">
            <%= image_tag "analytics.svg", :class => 'img' %>
         </div>
         <div class="col-md-9">
            <h3>
               <strong>Insightful</strong>
            </h3>
            <h4>
               See course-specific data in a useful, graphical format
            </h4>
         </div>

      </div>

      <div class="row welcome">
         <div class="col-md-3">
            <%= image_tag "badge.svg", :class => 'img' %>
         </div>
         <div class="col-md-9">
            <h3>
               <strong>Dynamic</strong>
            </h3>
            <h4>
               Updates planned each quarter! <a href='mailto:betterboothgroup@gmail.com'>Email me</a> with your suggestions.
            </h4>
         </div>

      </div>
   </div>
   <div class="col-md-offset-1 col-md-4">
      <%= render 'welcome/sign_up' %>
   </div>
</div>
