<div class="no-bid-data mt-2">
   <div class="col-xs-12">
      <h5>No Bid Data</h5>
   </div>
</div>
<div class="bid-data">
   <div class='col-md-12'>
      <table class="table table-condensed">
         <thead>
            <tr>
               <th scope="col">Phase</th>
               <th id="qrt_year" scope="col"></th>
            </tr>
         </thead>

         <tbody>
            <tr>
               <th scope="row">1</th>
               <td id="p1">
               </td>
            </tr>

            <tr>
               <th scope="row">2</th>
               <td id="p2">
               </td>
            </tr>

            <tr>
               <th scope="row">3</th>
               <td id="p3">
               </td>
            </tr>

            <tr>
               <th scope="row">4</th>
               <td id="p4">
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
