<div class="row">
   <div class="col-xs-12">
      <form action="/filter_courses" method="post" data-remote="true">
         <input type="hidden" id="quarter" name="quarter" value="<%= @quarter %>">

         <label class="form-check-label">
            <input class="form-check-input" type="radio" name="filter" id="alphaFilter" value="1" checked>
            <i class="fas fa-sort-alpha-down"></i> Sort by Course Name
         </label>

         <label class="form-check-label">
            <input class="form-check-input" type="radio" name="filter" id="ratingFilter" value="2">
            <i class="fas fa-sort-numeric-up"></i> Sort by Course Ratings
         </label>
         <label class="form-check-label">
            <input class="form-check-input" type="radio" name="filter" id="bidFilter" value="3">
            <i class="fas fa-sort-numeric-down"></i> Sort by Bid Prices
         </label>


         <!-- Sort alphabetically by course name -->

         <!-- Sort by lowest average bid -->

         <!-- Sort by highest average bid -->

         <!-- Sort by highest average rating -->

         <!-- Sort by lowest average rating -->


      </form>
   </div>
</div>
