<div class="no-rating-data mt-2">
   <div class="col-xs-12">
      <h5>No Rating Data</h5>
   </div>
</div>
<div class="rating-data">
   <div class='col-xs-12'>
      <div id='rating_header'>
      </div>
      <hr>
   </div>
   <div class="col-xs-12">
      <div class="row vertical-align">
         <div class="col-xs-7 px-0">
            <!-- Communication Ratings -->
            <div class="col-xs-8 pr-0 stars">
               <p class="star-labels">Communication:</p>
            </div>
            <div class="col-xs-4 px-0 stars">
               <p id="comms"></p>
            </div>

            <!-- Engagement Ratings -->
            <div class="col-xs-8 pr-0 stars">
               <p class="star-labels">Engagement:</p>
            </div>
            <div class="col-xs-4 px-0 stars">
               <p id="engaging"></p>
            </div>

            <!-- Practical Ratings -->
            <div class="col-xs-8 pr-0 stars">
               <p class="star-labels">Practical:</p>
            </div>
            <div class="col-xs-4 px-0 stars">
               <p id="practical"></p>
            </div>

            <!-- Learning Ratings -->
            <div class="col-xs-8 pr-0 stars">
               <p class="star-labels">Learning:</p>
            </div>
            <div class="col-xs-4 px-0 stars">
               <p id="amt_learned"></p>
            </div>

            <!-- Recommendation Ratings -->
            <div class="col-xs-8 pr-0 stars">
               <p class="star-labels">Recommendation:</p>
            </div>
            <div class="col-xs-4 px-0 stars">
               <p id="recommend"></p>
            </div>
         </div>

         <div class="col-xs-5 px-0">
            <div class="hour-box">
               <p class="stars star-labels center">
                  <i class="far fa-clock"></i>
                  Avg. Hours
               </p>
               <p class="hours center" id="avg_hours"></p>
            </div>
         </div>
      </div>
   </div>
</div>
