<div class="center row mb-1">
   <div class="col-md-4">
      <!-- Communication Ratings -->
      <p class="mb-0">Communication:</p>

      <% if section.evaluation.communication == 0 %>
         <p class="mb-0">No Data</p>

      <% elsif section.evaluation.communication == 1 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.communication == 2 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.communication == 3 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.communication == 4 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.communication == 5 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>

   </div>

   <div class="col-md-4">
      <!-- Engagement Ratings -->
      <p class="mb-0">Engagement:</p>

      <% if section.evaluation.engagement == 0 %>
         <p class="mb-0">No Data</p>

      <% elsif section.evaluation.engagement == 1 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.engagement == 2 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.engagement == 3 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.engagement == 4 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.engagement == 5 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
   </div>

   <div class="col-md-4">
      <!-- Practical Ratings -->
      <p class="mb-0">Practical:</p>

      <% if section.evaluation.practical == 0 %>
         <p class="mb-0">No Data</p>

      <% elsif section.evaluation.practical == 1 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.practical == 2 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.practical == 3 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.practical == 4 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.practical == 5 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
   </div>
<div class="center row mb-1">
   <div class="col-md-6">
      <!-- Learning Ratings -->
      <p class="mb-0">Learning:</p>

      <% if section.evaluation.learning == 0 %>
         <p class="mb-0">No Data</p>

      <% elsif section.evaluation.learning == 1 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.learning == 2 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.learning == 3 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.learning == 4 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.learning == 5 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
   </div>


   <div class="col-md-6">
      <!-- Recommendation Ratings -->
      <p class="mb-0">
         Recommendation:
      </p>

      <% if section.evaluation.recommendation == 0 %>
         <p class="mb-0">No Data</p>

      <% elsif section.evaluation.recommendation == 1 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.recommendation == 2 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.recommendation == 3 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.recommendation == 4 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-o" aria-hidden="true"></i>

      <% elsif section.evaluation.recommendation == 5 %>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
   </div>
</div>

<div class="center row">
   <div class="col-md-12">
      <p><strong>Avg. Hours:  <%= section.evaluation.avg_hours %></strong></p>
   </div>
</div>
