<div class="no-rating-data mt-2">
   <div class="col-xs-12">
      <h5>No Rating Data</h5>
   </div>
</div>
<div class="rating-data">
   <div class='col-xs-12'>
      <div id='rating_header'>
      </div>
   </div>
   <div class="center row mb-2">
      <!-- Communication Ratings -->
      <div class="col-xs-4">
         <p class="mb-0">Communication:</p>
         <div id="comms"></div>
      </div>

      <!-- Engagement Ratings -->
      <div class="col-xs-4">
         <p class="mb-0">Engagement:</p>
         <div id="engaging"></div>
      </div>

      <!-- Practical Ratings -->
      <div class="col-xs-4">
         <p class="mb-0">Practical:</p>
         <div id="practical"></div>
      </div>
   </div>

   <!-- New row in card -->
   <div class="center row mb-2">

      <!-- Learning Ratings -->
      <div class="col-xs-6">
         <p class="mb-0">Learning:</p>
         <div id="amt_learned"></div>
      </div>

      <!-- Recommendation Ratings -->
      <div class="col-xs-6">
         <p class="mb-0">Recommendation:</p>
         <div id="recommend"></div>
      </div>
   </div>

   <div class="center row">
      <div class="col-xs-12">
         <p>
            <strong id="avg_hours">
            </strong>
         </p>
      </div>
   </div>
</div>
