<div class="row">
<div class="col-md-12">

   <%= @schedules.each do |schedule| %>

      <div class="chip">
         <div class="chip-dot">
            <%= schedule.daytable.day_output %>
         </div>
         <%= schedule.timetable.time_output %>
      </div>

   <% end %>

</div>
</div>
