<!-- Generate search form with ransack -->
<div class="row">
  <div class="col-md-12">
    <form action="/query_courses" method="get">

      <!-- Save Quarter-selected data, or else it resets to default -->
      <input type="hidden" id="quarter" name="quarter" placeholder="Quarter" class="form-control" value="<%= @quarter %>">

      <!-- Search by Course Name -->
      <div class="form-group col-xs-12 col-md-2 mb-1">
         <label for="course_name_cont" class="control-label sr-only">
            Course Name
         </label>
         <input type="text" id="course_name_cont" name="course_name_cont" placeholder="Course Name" class="form-control" value="<%= @query['course_name_cont'] %>">
      </div>

      <!-- Search by Professor Name -->
      <div class="form-group col-xs-12 col-md-2 mb-1">
         <label for="prof_name_cont" class="control-label sr-only">
            Professor Name
         </label>
         <input type="text" id="prof_name_cont" name="prof_name_cont" placeholder="Professor Name" class="form-control" value="<%= @query['prof_name_cont'] %>">
      </div>

      <!-- Search by Day of the Week -->
      <div class="form-group col-xs-6 col-md-2 mb-1">
         <label for="schedules_day" class='sr-only'>
            Class Day
         </label>

         <!-- Create custom select field -->
         <select name="schedules_day" id="schedules_day" class='form-control'>
            <option value="">Day of Week</option>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
            <option value="7">MWF</option>
            <option value="8">Other</option>
         </select>
      </div>

      <!-- Search by Subject -->
      <div class='form-group col-xs-6 col-md-2 mb-1'>
         <label for="subject" class='sr-only'>
            Subject
         </label>

         <!-- Create custom select field -->
         <select name="subject" id="subject" class='form-control'>
            <option value="">Subject</option>
            <option value="Financial Management">Financial Management</option>
            <option value="Accounting">Accounting</option>
            <option value="Microeconomics">Microeconomics</option>
            <option value="Macro/International Business">Macro/International Business</option>
            <option value="Entrepreneurship">Entrepreneurship</option>
            <option value="Strategic Management">Strategic Management</option>
            <option value="Operations Management">Operations Management</option>
            <option value="Marketing Management">Marketing Management</option>
            <option value="Managerial and Organizational Behavior">Managerial and Organizational Behavior</option>
            <option value="Organizations and Markets">Organizations and Markets</option>
            <option value="Statistics">Statistics</option>
         </select>
      </div>

      <div class="form-check col-xs-6 col-md-2 mb-1">
         <input type="checkbox" class="form-check-input" id="half" name="half">
         <label class="form-check-label" for="half">Half-credit</label>
      </div>

      <!-- <div class="form-check col-xs-6 col-md-3 mb-1">
         <input type="checkbox" class="form-check-input" id="take" name="take">
         <label class="form-check-label" for="take">Take-home Final</label>
      </div> -->
      <div class="col-md-2 col-sm-6 col-xs-12 mb-1">
         <button class="btn btn-block btn-primary">
           Search
         </button>
      </div>
    </form>
  </div>
</div>
