<div class="page-header">
  <h3><%= @course.course_name %></h3>
</div>

<div class="row">
  <div class="col-md-6 mb-2">
    <div class="description">
      
    </div>

    <div class="btn-group btn-group-justified">
      <a href="/courses" class="btn btn-primary">
        Back
      </a>
      <a href="/courses/<%= @course.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_course/<%= @course.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
<div class="row">
   <%= render @course %>
</div>
