.carousel {
   text-align: center;
   width: 95%;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   border-style: solid;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-width: 0.5px;
   border-color: #e6e6e6;
}

.carousel ul {
   text-align: left;
   line-height: normal;
}

.carousel .list-group-item {
   padding-bottom: 5px;
   padding-top: 5px;
}

.carousel-links {
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-style: solid;
   border-width: 0.5px;
   border-color: #e6e6e6;
   font-variant: small-caps;
   font-size: 18px;
   background-color: #f1f1f1;
   margin-bottom: 10px;
   color: #2780e3;
}

.carousel-items {
   width: 95%;
   margin: auto;
}

.carousel-links .car-link:hover {
   background-color: #e6e6e6;
}

.carousel-links .car-link {
   width: 100%;
   margin: 0;
}

@media screen and (min-width: 992px) {
   .carousel {
      margin-top: 20px;
   }

   .car-link br{
      display: none;
   }

   .carousel-links {
      line-height: 200%;
   }
}
