<div class="page-header">
   <h1>
      Your Planned Bids
   </h1>
</div>

<%= render partial: 'plan', locals: {plans: @plans} %>

<div class='row'>
   <div class='col-md-offset-3 col-md-6'>
      <%= link_to 'Send Plan to your Inbox', 'generate_plan', class: 'btn btn-success btn-block btn-lg' %>
   </div>
</div>
